PORT=3005
DB_USERNAME=root
DB_PASSWORD=1234
DB_DATABASE=reforestacion
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# JWT Configuration
JWT_SECRET=reforestacion_secret_key_2026_senior_dev
JWT_EXPIRES_IN=24h
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=da9qincv5
CLOUDINARY_API_KEY=748688635675274
CLOUDINARY_API_SECRET=IbyXmONnDDJ0y2t7fUlj5NbkUJU