# Configuración del Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# IA Configuration
GEMINI_API_KEY=tu_api_key_aqui

# Configuración de la Base de Datos
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=reforestacion
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# Configuración de Seguridad (JWT)
# Cambia esta clave por una cadena larga y aleatoria en producción
JWT_SECRET=tu_clave_secreta_aqui
JWT_EXPIRES_IN=24h

# Configuración de Servicios Externos (Si se usan)
# CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
